<nav>
    <ul>
      <li><a routerLink="/host">Host Profile</a></li>
      <li><a routerLink="/properties">Property Listing</a></li>
      <li><a routerLink="/guest">Guest Profile</a></li>
      <li><a routerLink="/bookings">Booking Management</a></li>
    </ul>
    <div class="auth-container">
      <form *ngIf="!isLoggedIn" (ngSubmit)="onLoginSubmit()">
        <input type="text" name="username" [(ngModel)]="loginData.username" placeholder="Username">
        <input type="password" name="password" [(ngModel)]="loginData.password" placeholder="Password">
        <button type="submit">Login</button>
      </form>
      <p *ngIf="isLoggedIn">Welcome, {{ currentUser.username }}!</p>
      <button *ngIf="isLoggedIn" (click)="onLogout()">Logout</button>
    </div>
  </nav>
  